.read-more {
  opacity: 0.7;
}

.read-more:hover {
  opacity: 1;
}

.is__hidden-btn {
  display: none;
}

.hidden__content {
  overflow: hidden;
  height: 3.6em;
  line-height: 1.2em;
  // width: 200px;
}

.details-page {
  padding: 20px 0;
}

.btn-small {
  font-size: 10px;
  margin-bottom: 10px;
  // max-width: 180px;
}

#details__title {
  margin: 10px 0 5px 0;
  font-size: 30px;
  font-weight: 700px;
}

#details__img {
  border-radius: 7px;
}

table {
  margin-bottom: 15px;
  border-radius: 7px;
  overflow: hidden;
}

table,
th,
td {
  border: 1px solid #ffffff;
}

.details__caption {
  padding-left: 10px;
  font-weight: 700;
}

.details__info {
  padding-left: 20px;
}

.movie-description {
  padding: 0 10px;
}

.middle-btn {
  margin-right: 5px;
  margin-left: 5px;
}

// ============= trailer ==============
.trailer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 15px;
}
.trailer__ref {
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  padding: 8px 0;
  background-color: #e91e63;
  border-radius: 2px;
}
.trailer__a {
  padding: 14px 50px;
  color: $basicWhiteColor;
  @include fontBasicStyles(14px, 1.5, 500);
}

// modal window
.lightbox {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
  transition: opacity $primaryTransition;

  overflow-x: scroll;
  overflow-y: hidden;
}

.lightbox.is-open {
  opacity: 1;
  pointer-events: initial;
}

.lightbox__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
}

.lightbox__content {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 75vw;
  height: 75vh;
}

.lightbox.is-open .lightbox__content {
  transform: scale(1);
}
