// Containers for information
.details-page {
  padding-top: 20px;
}

.movie-details-container {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
  }
}

.poster__container {
  position: relative;

  @media screen and (max-width: 767px) {
    display: flex;
    justify-content: center;
  }

  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
    margin-right: 10px;
  }
}

.details-img {
  border-radius: 7px;
  margin-right: auto;
  margin-left: auto;
}

.backtoprevious {
  position: absolute;

  position: absolute;
  bottom: 50%;
  left: 0;
  transform: translate(0, 50%);

  z-index: 0;
  background-color: #ec407a;
}

.description__container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }
}


.details__title {

  margin: 10px 0 5px 0;
  text-align: center;
  font-size: 30px;

  font-weight: 700px;
  color: #3f51b5;
}

.details-about {
  color: #7986cb;
}

#details__img {
  border-radius: 7px;

}

table {
  margin-bottom: 15px;
  border-radius: 7px;
  overflow: hidden;
}


  .table-dark-rows {
    background-color: #c5cae9;
  }

  .table-light-rows {
    background-color: #e8eaf6;
  }


table,
th,
td {
  border: 1px solid #ffffff;
}

.details__caption {
  padding-left: 10px;
  font-weight: 700;
}

.details__info {
  padding-left: 20px;
}

.movie-description {
  padding: 0 10px;
}

.buttons__container {
  margin-right: auto;
  margin-left: auto;
  @media only screen and (max-width: 767px) and (min-width: 550px) {
    display: flex;
    justify-content: center;
  }

  @media screen and (min-width: 1240px) {
    display: flex;
    justify-content: center;
  }
}

.btn-small {
  display: block;
  font-size: 10px;
  margin-bottom: 10px;
  width: 140px;
}

.middle-btn {
  @media only screen and (max-width: 767px) and (min-width: 550px) {
    margin: 0 10px;
  }

  @media screen and (min-width: 1240px) {
    margin: 0 10px;
  }
}

.collapsible {
  width: 100%;
  border-radius: 7px;
  overflow: hidden;
  background-color: #c5cae9;
}

.collapsible-item {
  background-color: #9fa8da;
}

.collapsible-header i {
  color: #ffffff;
}

.details-about {
  color: #ffffff;
}

.read-more {
  opacity: 0.7;
}

.read-more:hover {
  opacity: 1;
}

.is__hidden-btn {
  display: none;
}

.hidden__content {
  overflow: hidden;
  height: 3.6em;
  line-height: 1.2em;
  // width: 200px;
}

// ============= trailer ==============
.trailer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 15px;
}
.trailer__ref {
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  padding: 8px 0;
  background-color: #e91e63;
  border-radius: 2px;
}
.trailer__a {
  padding: 14px 50px;
  color: $basicWhiteColor;
  @include fontBasicStyles(14px, 1.5, 500);
}

// modal window
.lightbox {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
  transition: opacity $primaryTransition;

  overflow-x: scroll;
  overflow-y: hidden;
}

.lightbox.is-open {
  opacity: 1;
  pointer-events: initial;
}

.lightbox__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
}

.lightbox__content {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 75vw;
  height: 75vh;
}

.lightbox.is-open .lightbox__content {
  transform: scale(1);
}
