.home-page-section {
  padding-bottom: 15px;

  @media screen and (min-width: 320px) {
    padding-bottom: 20px;
  }

  @media screen and (min-width: 768px) {
    padding-bottom: 25px;
  }

  @media screen and (min-width: 1024px) {
    padding-bottom: 30px;
  }
}

.home-page-gallery {
  @media screen and (min-width: 320px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.gallery-item-card {
  position: relative;

  border-radius: 7px;
  overflow: hidden;
  transform: scale(1, 1);
  transition: transform $primaryTransition, box-shadow $primaryTransition;
  cursor: pointer;

  &:hover,
  :focus {
    transform: scale(1.08, 1.08);
  }

  @media screen and (max-width: 319px) {
    margin-bottom: 15px;
  }

  @media screen and (max-width: 767px) {
    margin-bottom: 20px;
  }

  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);

    margin-bottom: 25px;
  }
}

.gallery-card-title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  color: $basicWhiteColor;
  background: $titleBackgroundGradientLT;

  @media screen and (max-width: 767px) {
    padding: 15px 20px;
    @include fontBasicStyles(20px, 1.5, 700);
  }
  @media screen and (max-width: 500px) {
    padding: 10px 15px;
    @include fontBasicStyles(18px, 1.5, 700);
  }

  @media screen and (max-width: 319px) {
    padding: 5px 10px;
    @include fontBasicStyles(14px, 1.5, 700);
  }

  @media screen and (min-width: 768px) {
    padding: 10px 15px;
    @include fontBasicStyles(16px, 1.5, 700);
  }

  @media screen and (min-width: 1024px) {
    @include fontBasicStyles(20px, 1.5, 700);
  }
}

.gallery-card-raiting {
  position: absolute;
  top: 10px;
  right: 10px;

  border-radius: 7px;

  color: $basicWhiteColor;
  background-color: #1a237e;

  // @media screen and (min-width: 768px) {
  //   top: 12px;
  //   right: 12px;
  //   padding: 6px 10px;
  //   @include fontBasicStyles(16px, 1.5, 700);
  // }

  // @media screen and (min-width: 1024px) {
  //   top: 15px;
  //   right: 15px;
  //   padding: 6px 12px;
  //   @include fontBasicStyles(20px, 1.5, 700);
  // }

  span {
    margin-right: 3px;
  }

  // ===========
  @media screen and (max-width: 767px) {
    padding: 5px 9px;
    @include fontBasicStyles(20px, 1.5, 700);
  }
  @media screen and (max-width: 500px) {
    padding: 5px 9px;
    @include fontBasicStyles(16px, 1.5, 700);
  }

  @media screen and (max-width: 319px) {
    padding: 4px 9px;
    @include fontBasicStyles(14px, 1.5, 700);
  }

  @media screen and (min-width: 768px) {
    top: 12px;
    right: 12px;
    padding: 5px 9px;
    @include fontBasicStyles(16px, 1.5, 700);
  }

  @media screen and (min-width: 1024px) {
    top: 15px;
    right: 15px;
    padding: 5px 9px;
    @include fontBasicStyles(20px, 1.5, 700);
  }
}

.search-container {
  padding: 15px 0 20px 0;
  margin-bottom: 15px;
}

.error__area {
  visibility: hidden;
  text-align: center;

  padding-top: 8px;
  @include fontBasicStyles(14px);

  @media screen and (min-width: 768px) {
    padding-top: 10px;
    font-size: 16px;
  }
  @media screen and (min-width: 1024px) {
    padding-top: 14px;
    font-size: 18px;
  }
}

// создаем добавляем стили кнокпи вверх
.back__to__top {
  position: fixed;
  bottom: 40px;
  right: 20px;
  z-index: 1;

  cursor: pointer;

  display: none;
}

// показываем кнопку при выполнении скрипта
.back__to__top-show {
  display: block;
}

.pagination {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;

  @media screen and (min-width: 768px) {
    padding-top: 30px;
  }
}
