.library-page-section {
  padding-top: 20px;
}

.tab a {
  i {
    color: white;
    vertical-align: middle;
    font-size: 1rem;
    margin-right: 3px;
  }
  span {
    vertical-align: middle;
  }
}

.tab-pane {
  padding-top: 20px;
}

.tab-pane--hidden {
  display: none;
}

.tab-pane--active,
.message--active {
  display: block;
}

.message {
  text-align: center;
}

.message--hidden {
  display: none;
}
