.library-page-gallery {
  @media screen and (min-width: 320px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.tabs-panel {
  padding-top: 20px;
}

.tab a {
  i {
    color: white;
    vertical-align: middle;
    font-size: 1rem;
    margin-right: 5px;
  }
  span {
    vertical-align: middle;
  }
}

.tab-pane {
  padding-top: 20px;
}

.tab-pane--hidden {
  display: none;
}

.tab-pane--active,
.message--shown {
  display: block;
}

.message {
  text-align: center;
}

.message--hidden {
  display: none;
}

.indicator {
  line-height: 1;
}
